.elm {
  position: absolute;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
  width: 120;
  height: 160;
  background-color: none;
  text-align: center;
}
.elm .img-background {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #bbb;
  background-color: #fff;
}
.elm img {
  max-width: 110;
  max-height: 110;
}
.elm .node-title {
  font-face: sans-serif;
  padding: 5px;
  font-size: 10pt;
}
.elm .delete-box {
  position: absolute;
  padding: 2px;
  border-radius: 3px;
  color: #bf4240;
  opacity: 0.02;
  font-size: 18pt;
  width: 1em;
  height: 1em;
  text-align: center;
  vertical-align: center;
}
.elm .delete-box:hover,
.elm .delete-box .focus {
  opacity: 0.9;
}
.label {
  background-color: #fff;
  border-radius: 8px;
  padding: 0.1em;
  opacity: 0.95;
}
._jsPlumb_endpoint {
  opacity: 0.1;
  width: 200px;
}
