

.build-info-button
  opacity 0.5
  transition 0.2s
  font-size 9px
  cursor pointer
  &:hover
    opacity 1.0

.build-info-bottom-bar
  .build-info-button
    position fixed
    font-size 9px
    right 0px
    bottom 0px
    color blue-gray
    padding 0px
    padding-right 0.5em
    padding-bottom 0.2em


.global-nav
  .build-info-button
    position static
    color bbgray

.BuildInfoView
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color: hsla(1,0,1%,0.2)
  enable-flex(alignContent:center, alignItems:center, justify:center)
  z-index 10
  a
    color black
    font-size 1.1em
    text-decoration none
  .content
    padding 0.2em
    border-radius 3px
    box-shadow 2px 2px 10px
    background-color: hsla(1,100%,100%,1)
    font-size 14px
    color #808080
    span
      padding 0
    table, .inner
      padding 2em
    table
      font-family monospace
    tr
      td.key
        padding .4em
        text-align right
        color gray
      td.value
        text-align left
        font-weight bold
        color dark-blue

