.document-actions
  enable-flex(justify:flex-end)
  width 100%
  .undo-redo
    width 200px
    text-align right
    .button-link
      no-select()
      label-font()
      margin 5px
      cursor pointer
      color #fff
      background-color #00f
      padding 2px 7px
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      &.disabled
        cursor not-allowed
        background-color #777
  .misc-actions
    width 150px
    color #777
    font-size 12px
    text-align center
    i
      padding-right 0.5em
      font-size 24px
      cursor pointer
      &:hover
        text-shadow 1px 1px 3px hsl(0,0.5, 0.5)
