.document-actions
  .undo-redo
    .button-link
      no-select()
      blenderbox-label()
      margin 5px
      cursor pointer
      color #fff
      background-color #00f
      padding 2px 7px
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      &.disabled
        cursor not-allowed
        background-color #777
