@require '../mixins/blender-box-colors'
  .global-nav
    width 100%
    background-color dark-blue
    background-image url("../img/bb-chrome/global-nav-bg.png")
    padding  8px 0px 8px
    color white
    height global-nav-height
    box-sizing border-box

    enable-flex(row)

    span, i
      padding-left 0.5em
      padding-right 0.5em

    .global-nav-content-filename
      flex-content()

    .global-nav-file-status
      blenderbox-label()
      color #fff
      background-color #f00
      padding 2px 7px
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

    .global-nav-name-and-help
      color blue-gray
      flex-content(0,0)
      font-size 9px

  .action-bar
    box-sizing padding-box
    enable-flex(row, alignItems: center)
    width 100%
    height palette-and-actions-height - 1
    box-shadow 0px 0px 1px hsla(0,0,0,0.2)
