.image-metadata
  table
    border-collapse: collapse
    tr
      td
        margin 0
        padding 10px 20px 10px 0
        font-size 12px
        vertical-align top
        font-size 12px
      td:first-child
        label-font(weight: bold)
        //margin-right 16px
