.image-metadata
  table
    border-collapse: collapse
    tr
      td
        margin 0
        padding 3px 5px
        font-size 12px
        vertical-align top
      td:first-child
        font-weight: bold
        margin-right 20px
