
.image-picker
  position relative
  display inline-block
  box-sizing border-box
  vertical-align middle
  margin 0px
  padding 0em
  background-color white
  border-radius 3px
  box-shadow -1px 0px 2px hsla(0,0,50,0.4)
  no-select()
  cursor pointer

  .selected-image
    margin 0px
    padding 1em
    padding-right 20px
    margin-right 5px
    background-image url("../assets/img/bb-chrome/arrow-expand.svg")
    background-position right center
    background-repeat no-repeat
    background-size 10px 10px
    vertical-align middle

    img
      max-width 50px
      max-height 50px
      vertical-align middle

  div.image-choices
    margin 0px
    position absolute
    box-sizing border-box
    padding 0.5em
    background-color white
    border-radius 2px 2px 2px 2px
    display inline-block
    vertical-align top
    overflow hidden
    cursor pointer
    z-index 5
    width 350px
    left -100px
    no-select()
    transition 0.1s
    box-shadow 4px 4px 4px 4px hsla(0,0,30,0.4)
    enable-flex(wp:wrap,justify:flex-start)
    &.closed
      height 0px
      padding 0px
      border none
      box-shadow none
      overflow hidden

   div.image-choice
     overflow hidden
     vertical-align top
     max-height 48px
     margin 5px
     margin-bottom 0px
     padding 10px
     border-radius 4px 4px 4px 4px
     &:hover
      background-color hsla(0,0,80,0.3)
     img
       border none
       max-height 40px
       max-width 40px
       padding 0px
       margin 0px
    .palette-add-image
      height: 40px
      width: 40px
