.image-browser

  .image-browser-form
    margin-bottom 10px
    input
      padding 5px
      width 400px
      margin-right 10px
    button
      padding 5px
    
  .image-browser-header
    blenderbox-label()
    
  .image-browser-results
    margin 10px
    max-height 210px
    overflow auto
    img
      width 50px
      height 50px
      display inline
      margin 10px
      cursor pointer
      
  .image-browser-preview-image
    margin 20px 0
    float left
    img
      width 50px
      height 50px
    a
      display block
    span
      margin-left 3px
      
  .image-browser-preview-add-image
    margin 30px 0 0 80px