.header
  margin 10px 0px
  font-size 15px

.image-search-dialog

  .image-search-dialog-form
    margin-bottom 10px
    input
      padding 5px
    input[type=text]
      width 220px
      margin-right 10px
    input[type=submit]
      modal-button()

  .image-search-dialog-results
    position absolute
    margin 24px 0px 24px
    bottom 0px
    top 0px
    overflow auto

    &.show-all
      overflow auto
    img
      max-width 50px
      max-height 50px
      display inline
      margin 0 11px 11px
      cursor pointer

    .in-palette
      opacity 0.25
      cursor not-allowed
  .image-search-dialog-results-text
    position absolute
    bottom 10px
  .image-search-main-results
    height 330px
    .image-search-section
      position relative
      .header
        position absolute
        top 0
        margin 0    
      
.preview-image
  margin-bottom 20px
  display inline-block
  img
    max-width 100px
    max-height 100px
  a
    label-font()
    display block
    margin-top 10px
    width 100px
    text-align center
    text-decoration none
    color #72bfca
  span
    margin-left 3px

.preview-add-image
  margin-left 30px
  display inline-block

  button
    modal-button()
    position relative
    top -35px

.preview-metadata
  margin-top 40px

.link-dialog, .my-computer-dialog
  input[type=text]
    width 220px
    margin-left 10px
    padding 5px
  input[type=submit]
    modal-button()
    margin-top 20px
