
  .inspector-panel
    right 0px
    margin 0px
    background-color white
    z-index 1
    margin 0px
    transition 0.2s

    .inspector-panel-toggle
      box-sizing border-box
      position absolute
      top: inspector-panel-top
      height: inspector-panel-tab-height
      width: inspector-panel-tab-width
      right: inspector-panel-inner-width
      padding 10px
      padding-top 15px
      cursor pointer
      background-repeat no-repeat
      background-position center
      background-image url("../img/bb-chrome/chevron-right.png")
      background-color white
      transition 0.2s
      border-radius 5px 0px 0px 5px
      box-shadow: -2px 0px 2px hsla(0,0,50,0.5)
      z-index 3

  .inspector-panel-content
      box-sizing border-box
      position absolute
      top: inspector-panel-top
      height: inspector-panel-inner-height
      width: inspector-panel-inner-width
      right: 0
      background-color white
      border-radius 0px 0px 0px 5px
      transition 0.2s
      box-shadow: -1px 0px 2px hsla(0,0,50,0.3)
      z-index 2
      overflow hidden

      .palette-inspector
        pallete-size()
          height 50px
          width 50px
        .palette
          margin 10px
          max-height 165px
          overflow auto
          .palette-image
            float left
            margin 8px
            height 60px
            .proto-node
              pallete-size()
              .img-background
                pallete-size()
                border none
                padding 0
                img
                  pallete-size()
            .palette-image-selected
              text-align center
              color #00889f
              min-height 12px
          .palette-add-image
            pallete-size()
            float left
            margin 15px 11px
            font-size 10px
            text-align center
            cursor pointer
            border 2px dashed #a1d2d9
            color #a1d2d9
            i
              display block
              margin 5px
              font-size 12px

        .palette-about-image
          margin-top 10px
          padding 15px 20px
          background-color #ebebeb
          .palette-about-image-title
            i
              color #00889f
            span
              blenderbox-label()
              margin 0 5px
            img
              width 16px
              height 16px
              vertical-align text-bottom
          .palette-about-image-info
            margin-top 20px

  &.collapsed
    .inspector-panel-toggle
      background-repeat no-repeat
      background-position center
      background-image url("../img/bb-chrome/chevron-left.png")
      right 0px
    .inspector-panel-content
      width 0px
      margin 0px
      padding 0px
