inspector-panel-top = 225px
inspector-panel-tab-width = 50px
inspector-panel-tab-height = 195px
inspector-panel-inner-width = 275px
inspector-panel-inner-height = 500px


  .inspector-panel
    box-sizing border-box
    right 0px
    margin 0px
    background-color white
    z-index 4
    margin 0px
    transition 0.2s

    .tool-panel
      .tool-button
        box-sizing border-box
        padding 5px
        background-color med-blue
        font-size 40px
        text-align center
        overflow hidden
        color white
        text-shadow: 1px 1px hsla(0,0,50,0.5)
        border-radius 5px
        &:hover
          background-color green-blue
        &.selected
          background-color dark-blue
        &.disabled
          background-color tint(light-blue, 20%)
          opacity 0.5
          &:hover
            cursor default

      position absolute
      background-color light-blue
      top: inspector-panel-top
      width: inspector-panel-tab-width
      right: 0px
      cursor pointer
      border-radius 5px
      box-shadow: -2px 0px 2px hsla(0,0,50,0.5)
      z-index 5

  .inspector-panel-content
      box-sizing border-box
      position absolute
      top inspector-panel-top
      right 0
      background-color bbgray
      border-radius 5px
      transition 0.2s
      box-shadow -1px 0px 2px hsla(0,0,50,0.3)
      z-index 2
      padding-right 50px
      // overflow hidden

      .inspector-content, .bottom-pane
        padding 1em
        text-align left
        background-color bbgray
        flex 1 0 0
        -webkit-flex 1 0 0
        margin-right 1em
        // overflow hidden
        h2
          margin-bottom 5px

        &.hidden
          display none
        .edit-row
          padding 0.2em
          white-space nowrap
        label
          display inline-block
          label-font()
          &.node-delete, &.link-delete, &.node-switch-edit-mode
            color light-blue
            cursor pointer
            &:hover
              color dark-blue
              transition 0.1s
        input
          width 170px
          padding 0.5em
          border none
          border-radius 3px
        i
          margin-right: 1em

      .inspector-content
        label
          width 45px
          margin 1em
      .bottom-pane
        label
          margin-top: -0.8em


  &.collapsed
    .inspector-panel-toggle
      background-repeat no-repeat
      background-position center
      background-image url("../img/bb-chrome/chevron-left.png")
      right 0px
    .inspector-panel-content
      width 0px
      margin 0px
      padding 0px
