.modal-simple-popup
  border none
  z-index 100

  .simple-popup-panel
    max-width: 400px
    padding 1em
    color black
    input
      margin 1em
    input[type=text]
      font-size 1em
      padding 0.3em
      background-color: lighten(light-blue, 70%)
    .buttons
      float: right
    button
      modal-button($thickness:12px)
      margin 1em

  .label-text
    label-font()
