dialog-width = 690px
dialog-min-height = 310px
dialog-tab-width = 247px
tab-border-radius = 5px

.modal
  z-index 100

  .modal-background
    absolute(0, 0, 0, 0)
    background-color #777
    opacity 0.5
    z-index 2

  .modal-content
    absolute(0, 0, 0, 0)

    .modal-dialog
      absolute(0, 0, 0, 0)
      enable-flex(column, justify: center, alignItems: center)

      .modal-dialog-wrapper
        max-width dialog-width
        background-color #fff
        z-index 3

        .modal-dialog-title
          label-font()
          color #fff
          background-color #0b4e5d
          padding 10px
          text-align center

          .modal-dialog-title-close
            float right
            cursor pointer


.modal-dialog-alert
  blenderbox-modal-labels()
  font-size 12px
  color #d96835
  margin 30px 0
  text-align center
  line-height 20px
