
dialog-width = 690px
dialog-min-height = 300px
dialog-tab-width = 247px
tab-border-radius = 5px

.modal
  z-index 100

  .modal-background
    absolute(0, 0, 0, 0)
    background-color #777
    opacity 0.5

  .modal-content
    absolute(0, 0, 0, 0)

    .modal-dialog
      absolute(0, 0, 0, 0)
      enable-flex(column, justify: center, alignItems: center)

      .modal-dialog-wrapper
        width dialog-width
        min-height dialog-min-height
        background-color #fff

        .modal-dialog-title
          blenderbox-label()
          color #fff
          background-color #0b4e5d
          padding 10px
          text-align center

          .modal-dialog-title-close
            float right
            cursor pointer

        .modal-dialog-workspace
          .modal-dialog-workspace-tabs
            float left
            width dialog-tab-width
            padding 20px 0
            ul
              margin 0
              list-style none
              padding-left 10px
              li
                blenderbox-modal-labels()
                font-size 15px
                -webkit-border-radius tab-border-radius
                -moz-border-radius tab-border-radius
                border-radius: tab-border-radius
                margin 10px 26px 10px 30px
                padding 15px
                color #000
                background-color #c8e7de
                cursor pointer
                &.tab-selected
                  -webkit-border-top-right-radius 0
                  -webkit-border-bottom-right-radius 0
                  -moz-border-radius-topright 0
                  -moz-border-radius-bottomright 0
                  border-top-right-radius 0
                  border-bottom-right-radius 0
                  color #fff
                  background-color #72bca6
                  margin-right 0

          .modal-dialog-workspace-tab-component
            margin-left dialog-tab-width
            border-left 5px solid #72bca6
            padding 50px 50px
            min-height dialog-min-height

          .modal-dialog-alert
            blenderbox-modal-labels()
            font-size 12px
            color #d96835
            margin 30px 0
            text-align center
            line-height 20px

