$deleteColor      = hsl(1,50%,50%)

$img-size         = 42px
$icon-width       = 50px
$small-elm-width  = 58px
$big-elm-width    = 90px
$node-title-width = 90px
$big-elm-height   = 164px

.elm
  .debugging
    opacity 0.5

  *
    box-sizing border-box
    no-select()

  input
    -moz-user-select text
    -webkit-user-select text
    -ms-user-select text
    user-select text
    position relative

  box-sizing border-box
  position absolute
  margin 0px
  padding 0px
  padding-top 10px
  width $small-elm-width
  enable-flex(direction: column, alignItems: center)

  border-radius 5px
  background-color none
  text-align center
  overflow display
  border-radius 5px
  text-align center

  .img-background
    enable-flex(direction:column, justify:center, alignItems:center)
    position relative
    padding 2px
    border-radius 5px
    background-color white
    border 2px solid
    margin-bottom 9px
    margin-left auto
    margin-right auto
    width $icon-width
    height $icon-width
    img
      max-width $img-size
      max-height $img-size
      margin 0px
      padding 0px

  .connection-source
    position absolute
    background-color white
    right -10px
    top 10px
    border-radius 18px
    width 18px
    height 18px
    background-image url("../img/bb-chrome/btn-nodeLink.svg")
    background-size 10px
    background-position center
    background-repeat no-repeat
    border 2px solid
    display none

  &.selected
    .connection-source
      display block
    box-shadow 0px 0px 3px hsla(0,0,0,0.3)
    background-color white
    width $big-elm-width
    height $big-elm-height
    overflow hidden
    .bottom
      background-color lightgray
    &:hover
      .img-background
        box-shadow 0px 0px 0px rgba(0, 0, 0, 0.0)


  &:hover
    .img-background
      box-shadow 0px 1px 1px rgba(0, 0, 0, 0.25)


  .node-title
    default-font(size:10px)
    color dark
    width $node-title-width
    text-align center
    cursor pointer
    margin-bottom 0.5em
    word-wrap break-word

  .delete-box
    margin 2px
    padding 0px
    border-radius 3px
    color $deleteColor
    opacity 0.2
    font-size 18pt
    width 1em
    height 1em
    text-align center
    vertical-align center

    &:hover, .focus
      opacity 0.9
.node-link-button
  opacity 0.0

.node-link-target
  opacity 0.0
  z-index -10

.label
  no-select()
  background-color hsla(0,0,100,0.8)
  margin-top 1.2em
  border-radius 8px
  padding 2px 8px
  color med-blue
  font-size 10px
