
.node-well
  padding 1em
  
  display flex
  flex 3 0 100
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  align-content space-around

  display -webkit-flex
  -webkit-flex 3 0 0
  -webkit-flex-direction row
  -webkit-flex-wrap wrap
  -webkit-justify-content -webkit-space-around
  -webkit-align-content -webkit-space-around
