$deleteColor      = hsl(1,50%,50%)

$img-size         = 42px
$icon-width       = 50px
$small-elm-width  = 58px
$big-elm-width    = 90px
$node-title-width = 90px
$big-elm-height   = 164px
$node-design-height = 94px

.elm
  box-sizing border-box
  border-top 6px solid transparent
  background-color transparent  
  height auto
  
  
  .top
    height auto
    margin-top 6px
    margin-bottom 6px
  .bottom
    border-radius 0px 0px 5px 5px
    box-sizing content-box
    overflow hidden
    width $big-elm-width
  .debugging
    opacity 0.5
    
  input
    -moz-user-select text
    -webkit-user-select text
    -ms-user-select text
    user-select text
    position relative
    &[type=text]
      height 20px
      width 85px
      border none
      &:hover
        text-decoration none
      &:focus
        outline none
        box-shadow 1px 1px 3px 0px rgba(0,0,0,0.25)

  box-sizing border-box
  position absolute
  margin 0px
  padding 0px
  padding-top 8px
  width $big-elm-width

  enable-flex(direction: column, alignContent:center, alignItems:center, justify:flex-start)

  border-radius 5px
  background-color none
  text-align center
  overflow display
  border-radius 5px
  text-align center

  .img-background
    enable-flex(direction:column, justify:center, alignItems:center)
    position relative
    padding 2px
    border-radius 5px
    background-color white
    border 2px solid
    margin 0px
    margin-left auto
    margin-right auto
    width $icon-width
    height $icon-width
    img
      max-width $img-size
      max-height $img-size
      margin 0px
      padding 0px
  .centered-block
    enable-flex(direction: column, alignContent:center, alignItems:center, justify:flex-start)
    min-height 10px
  .action-circle
    position absolute
    background-color light-blue
    right -12px
    border-radius 30px
    padding 5px
    color white
    border 1px solid
    opacity 0
    box-shadow 0px 1px 1px rgba(0, 0, 0, 0.25)
    font-size 14px
    &.show-hover,&.show-drag
      opacity 1

  .connection-source
    top 5px

  .graph-source
    top 35px
    font-size 12px
  .top
    height 72px
  .bottom
    background-color transparent
  &.selected,&:hover
    .action-circle
      opacity 1
  &.selected
    box-shadow 0px 0px 3px hsla(0,0,0,0.3)
    background-color white
    
    .bottom
      border-radius 0px 0px 5px 5px
      box-sizing content-box
      overflow hidden
      width $big-elm-width
    .slider
      background-color light-gray
    &:hover
      .img-background
        box-shadow 0px 0px 0px rgba(0, 0, 0, 0.0)


  &:hover
    .img-background
      box-shadow 0px 1px 1px rgba(0, 0, 0, 0.25)

    .node-title
      text-decoration underline

  .node-title
    default-font(size:10px)
    color dark
    width $node-title-width
    text-align center
    cursor pointer
    word-wrap break-word
    margin-top 4px
    margin-bottom 8px
  input[type=text].node-title
    margin-top 4px
    margin-bottom 8px
    padding 0px
  .untitled
    italic-font(size:10px)

  .value
    margin-top 9px
    margin 10px
    margin-bottom 5px
    enable-flex(direction: row, alignContent:center, alignItems:center, justify:center)
    label
      default-font(size:10px)
      color: dark-blue
      flex 1
    input[type=text]
      display block
      background-color white
      width 30px
      margin-right 0px

  .value-slider
    margin 0px

  .delete-box
    margin 2px
    padding 0px
    border-radius 3px
    color $deleteColor
    opacity 0.2
    font-size 18pt
    width 1em
    height 1em
    text-align center
    vertical-align center

    &:hover, .focus
      opacity 0.9
.node-link-button
  opacity 0.0

.node-link-target
  opacity 0.2
  z-index -1
  
.link-target
  margin-top 6px
  margin-bottom 6px
  height $node-design-height
  &.simulate
    height auto

.node-link-endpoint
  opacity 0
  z-index -1

.label
  no-select()
  background-color hsla(0,0,100,0.8)
  margin-top 1.2em
  border-radius 8px
  padding 2px 8px
  color med-blue
  font-size 10px

.link-indicator
  background-color hsla(0,0,100,1.0)
  border-radius 9px
  height 9px
  line-height 5px
  margin 8px 0px 0px 8px
  font-size 1.4em
  &.increase
    color rgba(230,40,20,1)
  &.decrease
    color rgba(0,110,200,1)
