$deleteColor = hsl(1,50%,50%)

.elm
  *
    -webkit-touch-callout none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
  position absolute
  margin 0px
  border-radius 5px
  background-color none
  text-align center

  .img-background
    padding 2px
    border-radius 8px
    background-color white
    border 3px solid
    &.selected
      border-color #f7be33
      box-shadow 2px 2px 2px hsla(0,0,0,0.2)

  &:hover
    .img-background
      box-shadow 2px 2px 2px hsla(0,0,0,0.2)

  img
    width 50px
    height 50px

  .node-title
    font-face sans-serif
    font-size 12px
    color dark-blue
    border-radius 8px
    padding: 0.2em
    margin-top: 1em

  .delete-box
    margin 2px
    padding 0px
    border-radius 3px
    color $deleteColor
    opacity 0.2
    font-size 18pt
    width 1em
    height 1em
    text-align center
    vertical-align center

    &:hover, .focus
      opacity 0.9


.label
  no-select();
  background-color hsla(0,0,100,0.8)
  margin-top: 1.2em
  border-radius 8px
  padding 2px 8px


._jsPlumb_endpoint
  opacity 0.1
