.node-inspector-view
  .node-inspector-content
    padding 1em
    min-width  100px
    text-align left
    background-color #ececec
    flex 1 0 0
    -webkit-flex 1 0 0

    h2
      margin-bottom 5px

    &.hidden
      display none
    .edit-row
      padding 0.2em
      white-space nowrap
    label
      display inline-block
      width 45px
      label-font()
      margin 1em
      &.node-delete
        color light-blue
        cursor pointer
        &:hover
          color dark-blue
          transition 0.1s
    input
      width 170px
      padding 0.5em
      border none
      border-radius 3px
