
span.OpenInCodap
  margin-left 2em
  margin-right 2em
  a, a:active, a:visited
    color blue-gray
    text-decoration none
    transition 0.2s

  a:hover
    color white
    text-decoration underline
