$protoNodeDimension = 40px
$paletteItemPadding = 4px
$paletteItemDimension = $protoNodeDimension + (2 * $paletteItemPadding)
$paletteRowHeight = 80px
$paletteHieght = $paletteRowHeight * 3

pal-image-size()
  height $protoNodeDimension
  width $protoNodeDimension
  padding 0px
  margin 0px
  vertical-align middle
  text-align center
  box-sizing border-box

.palette-inspector
  background-color white
  margin 0px
  padding 0px
  .palette
    margin 0px
    padding-top 0px
    margin-top 0px
    max-height $paletteHieght
    overflow auto
    .palette-image
      height $paletteItemDimension
      width $paletteItemDimension
      padding 0
      float left
      margin 10px
      box-sizing border-box
      enable-flex(direction:row, wp:nowrap, justify:center, alignContent:center, alignItems:center)
      border 2px solid none
      .proto-node
        pal-image-size()

      &.selected
        border 2px solid #72BDCB
        border-radius 5px

  .palette-delete
    margin-top: 10px
    color light-blue
    cursor pointer
    i
      margin-right 0.5em
    &:hover
      color button-hover
      transition 0.1s

  .palette-about-image
    display flex
    justify-content space-between
    margin-top 6px
    padding 12px 18px
    background-color #ebebeb
    .palette-about-image-title
      i
        color #00889f
      span
        label-font(weight: bold)
        margin 0 5px
      img
        max-width 80px
        max-height 80px
        margin-right 1em
        vertical-align text-top
        float right
        pointer-events none
    .palette-about-image-info
      line-height 1.75em
      color #444444
      a
        color #72bfca
        text-decoration none
