.palette-add-image
  Width 100%
  Height 100%
  text-align center
  box-sizing border-box
  vertical-align middle
  font-size 10px
  cursor pointer
  border 2px dashed #a1d2d9
  color #a1d2d9
  enable-flex(wp:nowrap, justify:center, alignContent:center, alignItems:justify)
  margin 0px
