.palette-delete-view
  background-color white
  margin 1.5em
  padding 1em
  font-family Montserrat, sans-serif
  font-size 18px
  color  rgb(11, 78, 93)

  .horizontal-content
    enable-flex(justify:flex-start, alignContent:flex-start, alignItems:flex-start)

  button
    modal-button()
    cursor pointer
    transition 0.2s
    &:hover
      color dark-blue

  i
    font-size 1.2em
    margin-right 0.5em

  img
    vertical-align middle
    max-height 50px
    // border 2px solid
    border-radius 5px
    padding 4px

  .vertical-content
    text-align center
    enable-flex(direction:column, justify:flex-start, alignContent:flex-start, alignItems:center)
    height 80px
    min-width 80px

    .padded
      margin-bottom 10px

    &.buttons
      enable-flex(direction:column, justify:flex-start, alignContent:flex-start, alignItems:flex-end)
      margin-left 30px
      margin-top: 35px

      .cancel
        margin-top 5px
        color light-blue
        cursor pointer
        label-font()
        transition 0.2s
        &:hover
          color dark-blue

  .arrow-div
    margin: auto
    font-size: 50

  .delete-prompt
    font-weight bold



  .image-picker
    box-shadow none

    .selected-image
      margin 0px
      padding 0px
      padding-right 20px
