pallete-size()
  max-height 45px
  max-width 45px

.palette-inspector
  background-color white
  margin 0px
  padding 0px
  .palette
    margin 0px
    padding-top 0px
    margin-top 0px
    max-height 80px * 3
    overflow auto
    .palette-image
      height 60px
      float left
      margin 5px
      margin-top 2px
      margin-bottom 15px
      .proto-node
        pallete-size()
        .img-background
          pallete-size()
          border none
          padding 0
          img
            pallete-size()
      .palette-image-selected
        text-align center
        color #00889f
        min-height 5px
    .palette-add-image
      height 50px
      width 50px
      margin 5px
      font-size 10px
      text-align center
      cursor pointer
      border 2px dashed #a1d2d9
      color #a1d2d9
      i
        display block
        margin 5px
        font-size 12px

  .palette-about-image
    margin-top 10px
    padding 15px 20px
    background-color #ebebeb
    .palette-about-image-title
      i
        color #00889f
      span
        label-font(weight: bold)
        margin 0 5px
      img
        max-width 20px
        max-height 20px
        vertical-align text-bottom
    .palette-about-image-info
      margin-top 20px
      line-height 1.75em
      color #444444
      a
        color #72bfca
        text-decoration none
