.quick-action-menu {
  position: absolute;
  border-radius: 5px;
  background-color: none;
  padding: 0px;
  left: 95px;
  top: -16px;
  z-index: 12; //Node titles z-index is 10
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: black;
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
  height: 126px;
  > div {
    padding: 5px;
    margin: 0px;
    min-width:200px;
    background: light-gray;
    border: 1px solid blue-gray;
  }
  .left-panel {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li:hover {
      cursor: pointer;
      color: dark-blue;
    }
    .with-icon {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .disabled {
      opacity: 0.5;
    }
  }
  .right-panel {
    overflow: auto
    flex-grow: 2;
    .image-choices {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .image-choice-wrapper {
      padding: 2px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 44px;
    }
    .image-choice {
      padding: 0px;
      margin: 0px;
      height: 40px;
    }
  }
}