colored-span(color)
  background-color color
  color white
  padding-left  4px
  padding-right 4px
  border-radius 4px

.relation-inspector
  .tabbed-panel
    width: 400px
  .inspector-content.group
      padding 0px
      width 100%

  label-font()
  text-transform none
  font-size 14px
  width 100%

  .link-relation-view
    box-sizing border-box
    line-height 1.5em
    margin-left 12px
    .source
      colored-span(green-blue)

    .target
      // colored-span(light-blue)
      color gray

  .bb-select
    margin-left 0px
    margin-top 0.25em
    overflow hidden
    label
      font-weight bold
      font-size 1em
      width initial
      margin 5px
      color #666

  .small
    font-size 6pt
    padding 0px
    margin 0px
    display inline-block

  .full
    width 100%

  .half
    max-width 50%

  .right
    text-align right

  .center
    text-align center

  .left
    text-align left

  .bottom
    width 100%
    margin-top 12px

  .graph
    color #02889d
    width 100%
    margin 20px
    font-size 14px
    .yAxis
      float left
      position absolute
      transform-origin left bottom 0
      transform rotate(-90deg)
      margin-bottom 0px
      padding-bottom 0px
      span
        margin-left 30px
        padding-bottom 0px
        margin-bottom 0px
        color gray
        // colored-span(light-blue)


    .xAxis
      margin 5px
      span
        colored-span(green-blue)

    i
      font-size 140px
