colored-span(color)
  background-color color
  color white
  padding-left  4px
  padding-right 4px
  border-radius 4px

.relation-inspector
  .tabbed-panel
    width: 400px
  .inspector-content.group
      padding 0px
      width 100%

  label-font()
  text-transform none
  font-size 14px
  width 100%

  .link-relation-view
    box-sizing border-box
    line-height 1.3em
    margin-left 12px
    width 100%;
    overflow-y overlay
    overflow-x hidden
    .source
      color darken(green-blue, 10)
      font-weight bold

    .target
      color darken(codap-orange, 10)
      font-weight bold

  .bb-select
    margin-left 0px
    margin-top 0.25em
    overflow hidden
    label
      font-weight bold
      font-size 1em
      width initial
      margin 5px
      color #666

  .small
    font-size 6pt
    padding 0px
    margin 0px
    display inline-block

  .full
    width 100%

  .half
    max-width 50%

  .right
    text-align right

  .center
    text-align center

  .left
    text-align left

  .bottom
    width 100%
    margin-top 8px

  .graph
    color #02889d
    width 100%
    margin 0px
    padding 0px
    margin-top 10px
    font-size 14px


    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
