.relation-inspector
  width: 500px
  margin 0px
  padding 0px
  label-font()
  text-transform none
  font-size 14px
  .group
    enable-flex(wp:wrap)
    margin-left 0px
    padding-left 0px

  .bb-select
    margin-left 0px
    margin-top 1em
    overflow hidden
    label
      font-weight bold
      font-size 1em
      width initial
      margin 5px
      color #666

  .small
    font-size 6pt
    padding 0px
    margin 0px
    display inline-block

  .full
    width 100%

  .half
    max-width 50%

  .right
    text-align right

  .center
    text-align center

  .left
    text-align left

  i.chart
    color #02889d
    font-size 80px
    margin 20px
