@require 'mixins/metrics'
@require 'mixins/fonts'
@require 'mixins/blender-box-colors'
panelWidth = 236px

.simulation-panel
  right panelWidth - 66
  top 36px
  width panelWidth
  padding 5px
  z-index: $node-z-index-offset + 2
  &.collapsed
    display none
  .title
    label-font()
    font-size: 13px
    margin-top: 0.7em
    margin-bottom: 0.5em
  .row
    margin 0.1em
    display flex
    justify-content flex-start
    &.split
      justify-content space-between
    &.short
      margin-bottom -15px
    &.tall
      margin-bottom 1em
    .button
      cursor pointer
      display inline-block
      label-font()
      color white
      background-color med-blue
      border-radius(2px)
      padding 3px 6px 3px 6px
      margin 3px
      display flex
      align-items center
      justify-content center
      i
        padding 5px
        font-size 17px
        &:hover
          color white
      &.small
        font-size 9px
        i
          font-size 11px
      &.disabled
        background-color light-blue
        cursor default
        i
          cursor default
      &.error
        background-color light-red
      &:hover:not(.disabled)
        background-color dark-gray
    .menu
      padding-left: 17px
      .menu-anchor
        default-font()
      i
        font-size 6px
        padding-left 0.6em
        vertical-align 25%
      .menu-showing
        right: 50px
        min-width: 135px
    input[type="number"]
      width 5em
    input[type="number"]:not(.max)
      width 3em
      margin -0.2em 0.5em 0 1.2em
    label
      no-select()
      margin 0.2em 0 0 0.2em
    &.disabled
      label
        color #AAA
    .link
      color #00f
      text-decoration underline
      cursor pointer
  .run-panel
    overflow: hidden
    max-height: 1000px
    webkit-transition: max-height 2.7s
    transition: max-height 2.7s
    &.collapsed
      max-height: 0px
      webkit-transition: max-height 0.7s
      transition: max-height 0.7s
  .full
    width 100%
  .wide
    width 100%
    margin 0 7px 0 8px

  .radio-group
    display flex
    flex-direction column
    margin 5px
    label
      display flex
      padding-bottom 7px
      input[type="radio"]
        flex none
        margin-right 7px

    .radio-group-title
      margin: 5px 0 7px 5px

    &.simulation-radio-buttons
      border: 1px solid #D2D2D2
      padding: 2px
      border-radius: 4px

    &.complexity-radio-buttons
      border: 1px solid #D2D2D2
      padding: 2px
      border-radius: 4px

  span.disabled
    color #AAA

  label.disabled
    color #AAA

  .expanding-submenu
    padding-left: 10px

    max-height: 0;
    overflow: hidden;

    &.expanded
      max-height: 70px;
      transition: max-height 0.2s ease-out;