@require 'mixins/metrics'
@require 'mixins/fonts'
@require 'mixins/blender-box-colors'
panelWidth = 225px

.simulation-panel
  width 70px
  right panelWidth - 66
  top 36px
  width panelWidth
  padding 5px
  z-index: 2
  &.collapsed
    display none
  .title
    label-font()
  &>div
    .row
      padding 8px
      display flex
      justify-content center
      &.left
        justify-content flex-start
      &.split
        justify-content space-between
      &.short
        padding-bottom 0
      &.tall
        padding-bottom 14px
      .button
        cursor pointer
        display inline-block
        label-font()
        color white
        background-color med-blue
        border-radius(2px)
        padding 3px 6px 3px 6px
        margin 3px
        display flex
        align-items center
        justify-content center
        i
          padding 5px
          font-size 17px
          &:hover
            color white
        &.small
          font-size 9px
          i
            font-size 11px
        &.disabled
          background-color light-blue
          cursor default
          i
            cursor default
        &.error
          background-color light-red
        &:hover:not(.disabled)
          background-color dark-gray
      .menu
        .menu-anchor
          default-font()
        i
          font-size 6px
          padding-left 0.6em
          vertical-align 25%
        .menu-showing
          right: 50px
          min-width: 135px
      input[type="checkbox"]
        margin 0.5em
      input[type="number"]
        width 5em
      input[type="number"]:not(.max)
        width 3em
        margin -0.2em 0.5em 0 1.2em
      label
        margin 0.5em 0 0 0.2em
  .options-panel
    background-color #ebebeb
    border-radius(0,0, 10px, 10px)
  .full
    width 100%
  .wide
    width 100%
    margin 0 7px 0 8px
