.status-menu
  margin 0px
  padding 0.5em
  font-size 14px
  color white
  background-color #444

  .title
    font-size 18px
    color hsla(0,0,100,1)
    text-shadow 2px 2px 5px hsla(0,0,0,1)
    font-weight bold
  .open-data-url
    text-decoration underline
    cursor pointer


  flex 1 0 18px
  display flex
  align-self stretch
  align-content baseline
  flex-direction row
  flex-wrap wrap
  justify-content space-between

  display -webkit-flex
  -webkit-align-self stretch
  -webkit-flex 1 0 18px
  -webkit-flex-direction row
  -webkit-flex-wrap wrap
  -webkit-justify-content space-between
  -webkit-align-content baseline

  .file-dialog-view
    .filename
      font-weight bold
    .buttons
      margin-top 5px
      button
        margin 0 5px