.SvgGraphView
  position relative
  height 135px
  svg
    position absolute
    path
      stroke-linecap round
      stroke light-blue
      fill none
      stroke-width 4px
      stroke light-blue
      &.axisLines
        stroke blue-gray
      &.data
        stroke codap-orange

    text
      stroke-linecap round
      stroke none
      fill light-blue
      -webkit-touch-callout none
      -webkit-user-select none
      -khtml-user-select none
      -moz-user-select none
      -ms-user-select none
      -o-user-select none
      user-select none

      &.yLabel
        fill codap-orange
        font-size 16
      &.xLabel
        fill green-blue
        font-size 16

  .unknown-graph
    position absolute
    font-size 2em
    top 43px
    left 50px
    z-index 1

  .draw-graph
    position absolute
    height 110px
    width 110px
    top -5px
    left 25px
    z-index 2

  .graph-hint
    position absolute
    width 100px
    right 0px
    text-align center
    line-height 1em
    color #AAA
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none

  .draw-graph.drawing:hover
    background-color rgba(255,255,255,0.4)
    cursor url('../img/bb-chrome/brush.cur'), pointer


