.SvgGraphView
  position absolute
  svg
    path
      stroke-linecap round
      stroke light-blue
      fill none
      stroke-width 4px
      stroke light-blue
      &.axisLines
        stroke blue-gray
      &.data
        stroke gold

    text
      stroke-linecap round
      stroke none
      fill light-blue
      -webkit-touch-callout none
      -webkit-user-select none
      -khtml-user-select none
      -moz-user-select none
      -ms-user-select none
      -o-user-select none
      user-select none

      &.yLabel
        fill gold
        font-size 16
      &.xLabel
        fill green-blue
        font-size 16

  .unknown-graph
    position absolute
    font-size 2em
    top 43px
    left 50px
    z-index 1

  .draw-graph
    position absolute
    height 110
    width 110
    top 0
    left 20
    z-index 2
  .draw-graph.drawing:hover
    background-color rgba(255,255,255,0.4)
    cursor url('../img/bb-chrome/brush.cur'), pointer

