node-well-width = 400px

node-well-height = palette-and-actions-height * 4
node-well-collapsed-height= palette-and-actions-height
node-well-tab-width = 45px
node-well-tab-height = 30px

.iframed-workspace
  .top-node-palette
    top 0px

.top-node-palette-wrapper
  background-color hsla(1,1,1,0.5)
  // height node-well-height
  background-color white
  max-width node-well-width
  box-sizing padding-box
  overflow hidden
  z-index $node-z-index-offset + 1
  box-shadow 0px 1px 1px hsla(0,0,50,0.4)
  transition 0.2s
  pointer-events all

  .ui-draggable
    cursor pointer

  .node-well
    padding 1em
    z-index $node-z-index-offset + 2
    display flex
    enable-flex(row)

    .proto-node
      margin 0 3px
      .img-background
        width 30px
        height 30px
        border none
      img
        max-width 25px
        max-height 25px
  &.collapsed
    height node-well-collapsed-height
    transition 0.2s

.iframed-workspace
  .top-node-palette-tab
    top: node-well-height
    &.collapsed
      top: palette-and-actions-height

.workspace
  .wrapperwrapper
    top global-nav-height

.iframed-workspace
  .wrapperwrapper
    top 0

.wrapperwrapper
  position absolute
  left 0px
  max-width node-well-width
  z-index $node-z-index-offset + 3
  transition 0.2s
  pointer-events none
  .tab-wrapper
    width 100%
    background-color hsla(1,1,1,0.0)
    pointer-events all
    .top-node-palette-tab
      float right
      box-sizing border-box
      background-color white
      background-repeat no-repeat
      background-position center
      background-image url("../assets/img/bb-chrome/chevron-up.png")
      height node-well-tab-height
      left node-well-width - node-well-tab-width
      top node-well-height + global-nav-height
      box-shadow 0px 2px 2px hsla(0,0,50,0.4)
      border-radius 0px 0px 4px 4px
      padding 1em 2em
      z-index $node-z-index-offset + 3
      transition 0.2s
      cursor pointer
      &.collapsed
        background-image url("../assets/img/bb-chrome/chevron-down.png")
        // top: palette-and-actions-height + global-nav-height + 30px
  &.top
    top 0