node-well-width = 275px
node-well-height = palette-and-actions-height * 4
node-well-collapsed-height= palette-and-actions-height
node-well-tab-width = 45px
node-well-tab-height = 30px

.wireframe-iframed-workspace
  .top-node-palette
    top 0px

.top-node-palette
  position absolute
  left 0px
  top global-nav-height
  width node-well-width
  height node-well-height
  background-color white
  box-sizing padding-box
  overflow hidden
  z-index 1
  box-shadow 0px 1px 1px hsla(0,0,50,0.4)
  transition 0.2s

  .node-well
    padding 1em
    z-index 2

    .proto-node
      margin 0 3px
      .img-background
        width 30px
        height 30px
        border none
      img
        width 25px
        height 25px
  &.collapsed
    height node-well-collapsed-height


.wireframe-iframed-workspace
  .top-node-palette-tab
    top: node-well-height
    &.collapsed
      top: palette-and-actions-height

.top-node-palette-tab
  position absolute
  box-sizing border-box
  background-color white
  width node-well-tab-width
  height node-well-tab-height
  left: node-well-width - node-well-tab-width
  top: node-well-height + global-nav-height
  box-shadow 0px 2px 2px hsla(0,0,50,0.4)
  border-radius 0px 0px 4px 4px
  padding 1em
  z-index 3
  transition 0.2s
  &.collapsed
    top: palette-and-actions-height + global-nav-height

