.inspector-panel-content
.value-inspector
  .group
    enable-flex(wp:wrap, alignItems: center)
    margin 5px
    margin-top 12px
  .inspector-content

    label
      text-transform none
      width initial
      margin 5px
      color #666
    input[type=number]
      width 80px
    input[type=checkbox]
      width initial

    .small
      font-size 6pt
      padding 0px
      margin 0px
      display inline-block
    .full
      width 100%
    .half
      max-width 50%
    .right
      text-align right
    .left
      text-align left
    i.fa
      color #02889d

  .bottom-pane
    border-top 2px solid hsl(162, 34%, 69%)
    background-color white
    margin 0px
    padding 0px
    height 100%
    default-font()
    p
      margin 1em
      line-height 1.5em
      color #666
      font-size 10pt
