.inspector-panel-content
  .value-inspector
    width 300px
    margin-right 50px
    margin-bottom 70px
    .group
      enable-flex(wp:wrap, alignItems: start)
      margin 5px
      margin-top 10px
      margin-bottom 10px
    .inspector-content

      label
        text-transform none
        width initial
        margin 5px
        color #666
      input[type=number]
        width 80px
      input[type=checkbox]
        width initial

      .small
        font-size 6pt
        padding 0px
        margin 0px
        display inline-block
      .full
        width 100%
      .half
        max-width 50%
      .right
        text-align right
      .left
        text-align left
      i
        color #02889d

      .editable-prop
        border 1px solid #DDD
        border-radius 5px
        padding 4px
        margin -8px
        box-shadow 1px 1px 3px -2px rgba(0,0,0,0.75)
        width 18px
        text-align center
        font-size 7pt
        cursor pointer

  .bottom-pane
    position absolute
    border-top 2px solid hsl(162, 34%, 69%)
    background-color white
    margin 0px
    margin-top 10px
    padding 0px
    padding-bottom 1em
    padding-right 50px
    bottom 0px
    left 0px
    right 0px
    default-font()
    p
      margin 1em
      line-height 1.5em
      color #666
      font-size 10pt
