gray-fill   = #dbdbea
orange-fill = #e99373

.value-slider
  position relative
  margin 1em
  .slider-line
    stroke black
    fill none

  .slider-shape
    fill black
    stroke none
  .svg-background
    position relative
  .value-slider-handle
    z-index 2
    cursor pointer
    position absolute
    box-sizing border-box
    background-color light-blue
    border 1.8px solid white
    enable-flex(justify:center, alignContent:center, alignItems:center)
    padding 1px
    box-shadow  1px 1px 1px hsla(1, 0%, 0%, 0.2)
    border-radius 5px
    &:hover
      background-color green-blue
      box-shadow  1px 1px 2px hsla(1, 0%, 0%, 0.4)

    i.icon-codap-smallSliderLines
      color:white
      font-size 1em
      padding 0
  .number
    display none
    position absolute
    color white
    font-size 9px
    background-color dark-blue
    padding 3px
    border-radius 3px
    left 0px
    &:.visible
      display block
  .legend
    default-font()
    position absolute
    color med-blue
    font-size 9px
    font-weight bold
    enable-flex(alignItems:center, alignContent:center, justify:space-between)
    left -4%
    width 110%
    .min
      float left
      text-align left
    .max
      float right
      text-align right
    .editable
      border: 1px solid #DDD
      border-radius 3px
      padding: 2px
      margin: -4px;
      box-shadow 1px 1px 3px -2px rgba(0,0,0,0.75)
    input
      width 100px

  &.vertical
    .legend
      top -4%
      height 110%
      display flex
      flex-direction column

  &.disabled
    .slider-line
      stroke #CCC
    .slider-shape
      fill #CCC

    .value-slider-handle
      cursor not-allowed
      background-color #DDD
    .legend
      color rgba(1, 136, 158, 0.42)

  &.filled
    .value-slider-handle
      background-color orange-fill
      orange-fill

    .value-slider-handle:before
      content ""
      position absolute
      right 100%
      top 3px
      width 0
      height 2px
      border-top 3px solid transparent
      border-right 5px solid orange-fill
      border-bottom 3px solid transparent

    .slider-line
      stroke gray-fill
      fill none
      stroke-width 8
      stroke-linecap round

      &.fill-line
        stroke orange-fill
        stroke-linecap butt

        &.cap
          stroke-linecap round
