
#building-models

#building-models2
  background-color green
  
.container
  position absolute
  padding 0px
  margin 0px
  width 500px
  height 400px
  overflow hidden
  

.building-models
  display inline-block
  padding 0px
  margin 40px
  width 500px
  height 400px
  background-color #ddd
  border-radius 5px
  border 2px solid #111
  