

.bm-container
  position relative  
  padding 0px
  border-radius 8px
  border 4px solid #111
  background-color #ddd
  overflow hidden
  width 600px
  height 400px

.container
  position absolute
  padding 0px
  bottom 0px
  height 100%
  width 100%
  
.building-models
  padding 0px
  margin 0px
