@font-face {
	font-family: 'ivy';
	src:url('../fonts/ivy.eot?99txfz');
	src:url('../fonts/ivy.eot?#iefix99txfz') format('embedded-opentype'),
		url('../fonts/ivy.ttf?99txfz') format('truetype'),
		url('../fonts/ivy.woff?99txfz') format('woff'),
		url('../fonts/ivy.svg?99txfz#ivy') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ivy-icon-"], [class*=" ivy-icon-"] {
	font-family: 'ivy';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Replacing fa-spin */
.spin {
  -webkit-animation spin 1000ms infinite linear
          animation spin 1000ms infinite linear
}

@keyframes spin {
  from {
    -webkit-transform rotate(0deg)
            transform rotate(0deg)
  }
  to {
    -webkit-transform rotate(359deg)
            transform rotate(359deg)
  }
}

.ivy-icon-table2:before {
	content: "\31";
}
.ivy-icon-graph:before {
	content: "\33";
}
.ivy-icon-dataTool:before {
	content: "\32";
}
.ivy-icon-calc:before {
	content: "\36";
}
.ivy-icon-slider:before {
	content: "\35";
}
.ivy-icon-map:before {
	content: "\34";
}
.ivy-icon-noteTool:before {
	content: "\38";
}
.ivy-icon-mediaTool:before {
	content: "\37";
}
.ivy-icon-arrow-undo:before {
	content: "\61";
}
.ivy-icon-arrow-redo:before {
	content: "\62";
}
.ivy-icon-tileList:before {
	content: "\63";
}
.ivy-icon-comment:before {
	content: "\e609";
}
.ivy-icon-guide:before {
	content: "\64";
}
.ivy-icon-options:before {
	content: "\65";
}
.ivy-icon-simulateTool:before {
	content: "\67";
}
.ivy-icon-draw:before {
	content: "\66";
}
.ivy-icon-help:before {
	content: "\68";
}
.ivy-icon-hideShow:before {
	content: "\69";
}
.ivy-icon-scaleData:before {
	content: "\6a";
}
.ivy-icon-search:before {
	content: "\6d";
}
.ivy-icon-tileScreenshot:before {
	content: "\6c";
}
.ivy-icon-trash:before {
	content: "\e629";
}
.ivy-icon-styles:before {
	content: "\6e";
}
.ivy-icon-values:before {
	content: "\6f";
}
.ivy-icon-qualRel:before {
	content: "\70";
}
.ivy-icon-arrow-moreIconOptions:before {
	content: "\71";
}
.ivy-icon-paletteArrow-expand:before {
	content: "\72";
}
.ivy-icon-paletteArrow-collapse:before {
	content: "\73";
}
.ivy-icon-arrow-expand:before {
	content: "\74";
}
.ivy-icon-arrow-collapse:before {
	content: "\75";
}
.ivy-icon-inspectorArrow-expand:before {
	content: "\76";
}
.ivy-icon-inspectorArrow-collapse:before {
	content: "\77";
}
.ivy-icon-swapAxis:before {
	content: "\78";
}
.ivy-icon-ex:before {
	content: "\79";
}
.ivy-icon-minimize:before {
	content: "\7a";
}
.ivy-icon-noteCanvas .path1:before {
	content: "\41";
	color: rgb(251, 243, 144);
}
.ivy-icon-noteCanvas .path2:before {
	content: "\42";
	margin-left: -1.2666015625em;
	color: rgb(13, 136, 158);
}
.ivy-icon-noteCanvas-Hover .path1:before {
	content: "\43";
	color: rgb(251, 243, 144);
}
.ivy-icon-noteCanvas-Hover .path2:before {
	content: "\44";
	margin-left: -1.2666015625em;
	color: rgb(16, 38, 51);
}
.ivy-icon-noteTile .path1:before {
	content: "\45";
	color: rgb(251, 243, 144);
}
.ivy-icon-noteTile .path2:before {
	content: "\46";
	margin-left: -1.2666015625em;
	color: rgb(13, 136, 158);
}
.ivy-icon-noteTile-hover .path1:before {
	content: "\48";
	color: rgb(251, 243, 144);
}
.ivy-icon-noteTile-hover .path2:before {
	content: "\49";
	margin-left: -1.2666015625em;
	color: rgb(16, 38, 51);
}
.ivy-icon-play:before {
	content: "\4a";
}
.ivy-icon-controlsReset:before {
	content: "\4b";
}
.ivy-icon-controlsBackward:before {
	content: "\4d";
}
.ivy-icon-controlsForward:before {
	content: "\4e";
}
.ivy-icon-speedFast:before {
	content: "\4f";
}
.ivy-icon-speedSlow:before {
	content: "\50";
}
.ivy-icon-slider:before {
	content: "\51";
}
.ivy-icon-smallSliderLines:before {
	content: "\52";
}
.ivy-icon-alert:before {
	content: "\53";
}
.ivy-icon-checkmark:before {
	content: "\54";
}
.ivy-icon-info:before {
	content: "\55";
}
.ivy-icon-saveGraph:before {
	content: "\56";
}
.ivy-icon-link:before {
	content: "\57";
}
.ivy-icon-marquee:before {
	content: "\58";
}
