
.link-view
  position relative
  border-radius 8px
  margin 0px
  box-shadow 4px 4px 10px hsla(1,0,0,0.2)
  background-color #ddd
  overflow hidden


  flex 10 0 200px
  align-self stretch
  
  -webkit-flex 10 0 200px
  -webkit-align-self stretch
  
.can-drop
  background-color yellow

.container
  position absolute
  height 100%
  width 100%
  
.ui-state-highlight
  border 2px solid yellow
    
.building-models
  padding 0px
  margin 0px
