.link-edit-view
  text-align left
  flex 1 0 0
  -webkit-flex 1 0 0
  
  &.hidden
    display none
  .edit-row
    padding 0.2em
    white-space nowrap
  
  label
    font-weight bold
    margin-right 1.5em  
  
  .colorChoice
    display inline-block
    vertical-align bottom
    margin 2px
    width 20px
    height 20px
    border-radius 4px
