

.bm-container
  position relative
  padding 0px
  border-radius 8px
  box-shadow 4px 4px 10px hsla(1,0,0,0.2)
  background-color #ddd
  overflow hidden
  width 550px
  height 400px

.container
  position absolute
  padding 0px
  bottom 0px
  height 100%
  width 100%
.ui-state-highlight
  border 2px solid yellow
    
.building-models
  padding 0px
  margin 0px
