border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

body
  font 12px Helvetica, Arial, sans-serif
  padding 0px 
  margin 0px
.content-box
  background-color #eee
  text-align center
  

.showcase
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around
  align-content space-around
  
#navmenu
  padding 4px
  width 100%
  font-size 14px
  color #fff
  background-color black
  margin-bottom 1em
  a
    text-decoration none
    color #fff
    padding-left 4em
    &:hover
      text-decoration underline
