@font-face
	font-family: 'icon-menu'
	src:url('../assets/fonts/icon-menu.eot?kacrnh')
	src:url('../assets/fonts/icon-menu.eot?#iefixkacrnh') format('embedded-opentype'),
		url('../assets/fonts/icon-menu.ttf?kacrnh') format('truetype'),
		url('../assets/fonts/icon-menu.woff?kacrnh') format('woff'),
		url('../assets/fonts/icon-menu.svg?kacrnh#icomoon') format('svg')
	font-weight: normal
	font-style: normal

[class^="icon-"], [class*=" icon-"]
	font-family: 'icon-menu'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon-dec-less-and-less:before {
	content: "\e60c";
}
.icon-inc-less-and-less:before {
	content: "\e60d";
}
.icon-inc-more-and-more:before {
	content: "\e604";
}
.icon-inc-the-same:before {
	content: "\e605";
}
.icon-inc-a-lot:before {
	content: "\e606";
}
.icon-inc-a-little:before {
	content: "\e607";
}
.icon-dec-a-little:before {
	content: "\e608";
}
.icon-dec-a-lot:before {
	content: "\e609";
}
.icon-dec-the-same:before {
	content: "\e60a";
}
.icon-dec-more-and-more:before {
	content: "\e60b";
}
.icon-brush:before {
	content: "\e600";
}
.icon-curve:before {
	content: "\e601";
}
.icon-plus:before {
	content: "\e602";
}
.icon-ruler:before {
	content: "\e603";
}
