
.node-well
  margin 2em
  margin-top 0.5em
  padding 10px
  box-shadow 4px 4px 10px hsla(1,0,0,0.2)
  border-radius 10px
  overflow scroll
   
  display flex
  flex 4 0 0
  flex-direction row
  flex-wrap wrap
  justify-content space-around
  align-content space-around

  display -webkit-flex
  -webkit-flex 3 0 0
  -webkit-flex-direction row
  -webkit-flex-wrap wrap
  -webkit-justify-content -webkit-space-around
  -webkit-align-content -webkit-space-around
