.node-edit-view
  padding 2em
  margin 2em
  margin-top 4em
  box-shadow 4px 4px 10px hsla(1,0,0,0.2)
  display flex
  flex-direction column
  flex-wrap wrap
  justify-content flex-end
  align-content space-around
  border-radius 10px
  min-width  100px
  text-align right
  label
    font-weight bold
    margin-right 2em
  input
    min-width: 300px