
.node-well
  margin 2em
  padding 1em
  box-shadow 4px 4px 10px hsla(1,0,0,0.2)
  height 140px
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around
  align-content space-around
  border-radius 10px

  