#navmenu
  padding 4px
  width 100%
  font-size 14px
  color #fff
  background-color black
  a
    text-decoration none
    color #fff
    padding-left 4em
    &:hover
      text-decoration underline

.status-menu
  margin 0px
  padding 0.5em
  font-size 14px
  color white
  background-color #444
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  align-content baseline
  .title
    font-size 18px
    color hsla(0,0,100,1)
    text-shadow 2px 2px 5px hsla(0,0,0,1)
    font-weight bold
  .open-data-url
    text-decoration underline
    cursor pointer
    
  display -webkit-flex
  -webkit-flex-direction row
  -webkit-flex-wrap wrap
  -webkit-justify-content space-between
  -webkit-align-content baseline