.test-container
  width 100%
  height 100%
  enable-flex(alignItems:center, justify:center)

#test
  enable-flex(alignContent:center)
  padding: 20px
  background-color white
  border 1px solid black

.dev-info
  position fixed
  bottom 0px
  background-color: hsla(20,40%,90%,0.8)
  padding 1em
  margin-left: 20%
  margin-right: 20%
  border-radius 1em

  .inline-code
    font-family monospace
    font-weight bold

  .code
    font-family monospace
    white-space pre-wrap
    font-weight bold
    background-color hsla(100,0%,40%, 0.2)
    color hsla(20,60%,20%,1.0)
    padding 1em
    margin-top 1em
    border-radius 0.5em
