border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

enable-flex(direction=row, wp=nowrap, justify=space-between, alignContent=flex-end, alignItems=flex-end)
  display flex
  flex-direction direction
  flex-wrap wp
  justify-content justify
  align-content alignContent
  align-items alignItems

  display -webkit-flex
  -webkit-flex-direction direction
  -webkit-flex-wrap wp
  -webkit-justify-content justify
  -webkit-align-content alignContent
  -webkit-align-items alignItems

flex-content(flex-grow=1, flex-shrink=0, flex-basis=10px)
  flex-grow flex-grow
  flex-shrink flex-shrink
  -webkit-flex-grow flex-grow
  -webkit-flex-shrink flex-shrink

absolute(top = 'auto', left = 'auto', right = 'auto', bottom = 'auto', height = 'auto', width = 'auto')
  position absolute
  top top
  left left
  right right
  bottom bottom
  height height
  width width

no-select()
   -webkit-touch-callout none
   -webkit-user-select none
   -khtml-user-select none
   -moz-user-select none
   -ms-user-select none
   user-select none

