@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)

blenderbox-label()
  font-family 'Montserrat', sans-serif;
  text-transform uppercase
blenderbox-downcase()
  font-family 'Montserrat', sans-serif;
