// @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)

default-font(style=normal, variant=normal, weight=normal, size=12px)
  font-style style
  font-variant variant
  font-weight weight
  font-size size
  font-family 'Montserrat', sans-serif
  text-transform none

label-font(style=normal, variant=normal, weight=normal, size=12px)
  default-font(style:style, variant:variant, weight:weight, size:size)
  font-family 'Museo Sans', 'Montserrat', sans-serif
  text-transform uppercase

italic-font(size=12px)
	font-family 'Museo Sans', 'Montserrat', sans-serif
	font-style italic

@font-face
	font-family Montserrat
	src url(../fonts/Montserrat-Bold.otf)
	font-weight bold
	font-style normal

@font-face
	font-family: Montserrat
	src url(../fonts/Montserrat-Regular.otf)
	font-weight  normal
	font-style normal

@font-face
	font-family Museo Sans
	src url(../fonts/MuseoSans_500.otf)
	font-weight normal
	font-style normal

@font-face
	font-family Museo Sans
	src url(../fonts/MuseoSans_500_italic.otf)
	font-weight normal
	font-style italic
